<script type="text/ng-template" id="json_recursion.html">
	<div ng-switch on="z.type">
		<div class="ctrl-section" ng-switch-when="section">
			<uib-accordion>
				<uib-accordion-group heading="{{z.label}}">
					<div ng-if="z.zchildren">
						<div ng-repeat="z in z.zchildren" ng-include="'json_recursion.html'">
						</div>
					</div>
				</uib-accordion-group>
			</uib-accordion>
		</div>
		<div class="ctrl-text" ng-switch-when="text">
			<h4>{{z.label}}</h4>
			<pre>{{z.value}}</pre>
		</div>
		<div class="ctrl-range" ng-switch-when="range">
		</div>
		<div class="ctrl-toggle" ng-switch-when="toggle">
			<h4>{{z.label}}</h4>
			<button type="button" class="btn btn-primary" ng-model="z.value" ng-change='valChange(z.name, z.value)' uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        		{{z.value}}
    		</button>
		</div>
		<div class="ctrl-radio" ng-switch-when="radio">
			<h4>{{z.label}}</h4>
			<div class="btn-group">
        		<label class="btn btn-primary" ng-repeat="b in z.choices" ng-model="z.value" ng-change='valChange(z.name, z.value)' uib-btn-radio="b">
        			{{b}}
        		</label>
    		</div>
		</div>
		<div class="ctrl-menu" ng-switch-when="menu">
			<h4>{{z.label}}</h4>
		</div>
		<div class="ctrl-date" ng-switch-when="date">
			<h4>{{z.label}}</h4>
		</div>
	</div>
</script>

<script type="text/ng-template" id="modal_window.html">
    <div class="modal-header">
        <h3 class="modal-title">{{serial.value}}</h3>
    </div>
    <div class="modal-body">
        <img ng-src="{{serial.img}}"/>
    </div>
    <hr>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="accept()">Accept</button>
        <button class="btn btn-warning" type="button" ng-click="reject()">Reject</button>
    </div>
</script>
	

<div id="content_panel">
	<uib-tabset>
		<uib-tab ng-repeat="t in ctrl.data.cameras" heading="{{t.name}}" select="changeTab($index)">
			<uib-accordion>
			    <uib-accordion-group heading="Capture" is-open="true">
				    <label>Serial:
					    <input type="text" name="input" ng-model="serial.value">
					</label>
					<button type="button" class="btn btn-primary" ng-click='capture()'>
		        		Capture
		    		</button>
			    </uib-accordion-group>
			</uib-accordion>
			<hr>
			<button type="button" class="btn btn-default" ng-click="settingsCollapsed = !settingsCollapsed">Settings</button>
			<hr>
			<div uib-collapse="settingsCollapsed">
				<div class="well well-lg" ng-repeat="z in t.zchildren" ng-include="'json_recursion.html'">
      			</div>
			</div>
    	</uib-tab>
	</uib-tabset>
</div>